active a{
    background-color: #FF0000;
}
#channelCol {
  max-width:15%
}
.nav-pills > li.active > a{
    color: red;
}
label {
  margin-top:0.5rem;
  margin-bottom:0.2rem;
}
.nickname {
  font-weight: bold;
}
#displayName,#logoutBtn {
  margin:0rem 0.5rem 0rem 0.5rem;
}
#login,#register {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
}
#registerBtn,#loginBtn {
  margin-top:1.7rem;
}
#acc {
  margin-bottom:2rem;
}
.chatCol {
  margin-top: 2rem;
  margin-right: 20%;
  margin-left: 20%;
}
#chatUI{
 margin-left: 1rem;
 margin-right: 1rem;
}
#acc{
  margin-top:0;
  margin-right: 20%;
  margin-left: 20%;
}
#chatBox {
  margin-bottom: 100px;
}
#chatHistory{
  max-height:100%;
  overflow:auto;
}

.time{
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.activeMsg {
  background-color: #F3F3F3;
}
#wrap {
  padding: 2rem 2rem 4rem 2rem;
  
}
.editFlag{
  color: #555555
}
@media only screen and (max-width: 1000px) {
  .chat,#acc {
    margin-right: 10%;
    margin-left: 10%;
  }
 }



/*
   Animation for backspacing in an empty text field
*/
@keyframes backspace {

   50% {
      transform: translate(-3px, 0px);
   }
   100% {
      transform: translate(3px, 0px);
   }
}

.backspace {
   animation: backspace;
   animation-duration: 0.1s;
}



/*
   Animation for invalid input
*/
@keyframes failed-input {
   10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
    0%{
      box-shadow: 0px 0px 0px 0px #a30041;
      border-color: #a30041;
      }
   20%, 80% {
      box-shadow: 0px 0px 15px 0px #a30041;
      border-color: #a30041;
   }
   100%{
      box-shadow: 0px 0px 0px 0px #a30041;
      border-color: #a30041;
   }
 }


.shake {
   animation: failed-input;
   animation-duration: 0.5s;
}