
label {
  margin-top:0.5rem;
  margin-bottom:0.2rem;
}
.nickname {
  font-weight: bold;
}
#displayName,#logoutBtn {
  margin-top:1rem;
  margin-bottom:1rem;
}
#login,#register {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
}
#registerBtn,#loginBtn {
  margin-top:1.7rem;
}
#acc {
  margin-bottom:2rem;
}
.chatCol{
  margin-right: 20%;
  margin-left: 20%;
}
#chatBox {
  margin-bottom: 100px;
}
#chat{
  padding-left: 2rem;
  padding-right: 2rem;
}
.time{
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.activeMsg {
  background-color: #F3F3F3;
}
#wrap {
  padding: 2rem 2rem 4rem 2rem;
  
}
.editFlag{
  color: #555555
}
@media only screen and (max-width: 700px) {
  .chat {
    margin-right: 10%;
    margin-left: 10%;
  }
 }
